#header
  .container
    #logo Karibu (Logo)
  #nav-wrapper
    #nav
      %ul
        %li
          %a{href: '/', class: 'active'} Home
        %li
          %a{href: '#'} Location
        %li
          %a{href: '#'} Booking
        %li
          %a{href: '#'} About Us
        %li
          %a{href: '#'} Contact

